<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        if (window) {
            window.appSettings = {
                getSummaryDataUrl: '@Url.Action("GetSummary", "SummaryApi")'
            };
        }
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IB Union Portal</title>
    
    <link href="~/Content/styles.css" rel="stylesheet" />

    
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

    <style type="text/css">
        .printOnly {
            display: none;
        }
    </style>
</head>
<body ng-app="app">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-default" href="/">
                    IB UNION PORTAL DASHBOARD
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_LogOnPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a ui-sref="#" class="list-group-item active">Home</a>
                    <a ui-sref="summary" class="list-group-item active">Summary</a>
                    <a ui-sref="assoc" class="list-group-item" onclick="backend.core.viewAllAssociations()">View all associations</a>
                    <a ui-sref="schedule" class="list-group-item">View scheduled demo</a>
                </div>
            </div>
            <div class="col-md-10 contentArea">

                <div ui-view></div>

                <div class="panel panel-success">
                    <div class="panel-heading">Latest association applications</div>
                    <div class="panel-body"></div>
                </div>
            </div>
        </div>



        @RenderBody()
    
        <hr/>
        <footer>
            <div align="center">
                <p>&copy; @DateTime.Now.Year - ibunionportal.com Application. All rights reserved</p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/app.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#printBtn").click(function () {

                window.PrintContent = $('.body-content').html();
                window.open("/Content/printpage.html", "Print page", "height=650,width=850");

                return false;
            });
        });
    </script>

</body>
</html>
